<p-growl [value]="msgs"></p-growl>
<h1>Popular Search</h1><br/>
<form [formGroup]="userform">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;width:80%;">
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><p-spinner [min]="0" [step]="1" [(ngModel)]='popularsearch.popularsearch_srno' formControlName='popularsearch_srno'></p-spinner> <label>Popular Search name</label></span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['popularsearch_srno'].valid&&userform.controls['popularsearch_srno'].touched">Popular Search Required</div>
            </div>
        </div>


        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><p-dropdown [options]="drpMainCatId" [(ngModel)]="popularsearch.maincat_id" formControlName="maincat_id"></p-dropdown> </span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['maincat_id'].valid&&userform.controls['maincat_id'].touched">Main Category Required</div>
            </div>
        </div>

        <div class="ui-grid-row" style="width:100%;">
            <div class="ui-g form-group" style="width:80%;">
                <div class="ui-g-12 ui-md-4" style="width:100%;">

                    <p-fileUpload name="files" url="{{mybaseurl}}fileupload/multiplefiles"  (onUpload)="onUpload($event)">
                        <template pTemplate type="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </template>
                    </p-fileUpload>
                    <ul *ngIf="fileuploadarr.length">
                        <li *ngFor="let file1 of fileuploadarr">{{file1.fileName}}</li>
                    </ul>

                </div>
            </div>

        </div>


        <div class="ui-grid-row" style="width:100%;">
            <div class="ui-g form-group" style="width:80%;">
                <div class="ui-g-12 ui-md-4" style="width:100%;float:left;">
                    <div style="width:50%"><button pButton (click)="onSubmit()" label="Submit" [disabled]="!userform.valid"></button><br/></div>
                    <div style="width:50%;float:right;"><button pButton (click)="clear()" label="Clear"></button></div>
                </div>
            </div>
        </div>
    </div>
</form>

<p-dataTable [value]="popularsearchgrid" selectionMode="single" [rows]="10" [paginator]="true" (onRowSelect)="onRowSelect($event)"
    [(selection)]="selectedPopularsearchsRow">
    <p-column field="popularsearch_srno" [filter]="true" filterPlaceholder="Name" header="Name"></p-column>

</p-dataTable>