<p-growl [value]="msgs"></p-growl>
<h1>Skill</h1><br/>
<form [formGroup]="userform">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;width:80%;">
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><input pInputText type='text' [(ngModel)]='skill.skill_name' formControlName='skill_name' /> <label>Name</label></span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['skill_name'].valid&&userform.controls['skill_name'].touched">Skill Required</div>
            </div>
        </div>
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><input pInputText type='text' [(ngModel)]='skill.skill_alias' formControlName='skill_alias' /> <label>Alias Name</label></span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['skill_alias'].valid&&userform.controls['skill_alias'].touched">Skill Alias Name Required</div>
            </div>
        </div>


        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><p-dropdown [options]="drpMaincatId" [(ngModel)]="ngModelMaincatId" formControlName="maincat_id" (onChange)="populateSubcategory($event)" ></p-dropdown> </span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['maincat_id'].valid&&userform.controls['maincat_id'].touched">Main Category Required</div>
            </div>
        </div>

        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><p-dropdown [options]="drpSubcatId" [(ngModel)]="skill.subcat_id" formControlName="subcat_id" ></p-dropdown> </span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['subcat_id'].valid&&userform.controls['subcat_id'].touched">Sub Category Required</div>
            </div>
        </div>


        <div class="ui-grid-row" style="width:100%;">
            <div class="ui-g form-group" style="width:80%;">
                <div class="ui-g-12 ui-md-4" style="width:100%;float:left;">
                    <div style="width:50%"><button pButton (click)="onSubmit()" label="Submit" [disabled]="!userform.valid"></button><br/></div>
                    <div style="width:50%;float:right;"><button pButton (click)="clear()" label="Clear"></button></div>
                </div>
            </div>
        </div>
    </div>
</form>


<p-dataTable [value]="skillGrid" selectionMode="single" [rows]="10" [paginator]="true" (onRowSelect)="onskillgridRowSelected($event)" [(selection)]="selectedskillgridRow">
    <p-column field="maincat_name" [filter]="true" filterPlaceholder="Main Category" header="Main Category"></p-column>
    <p-column field="subcat_name" [filter]="true" filterPlaceholder="Sub Category" header="Sub Category"></p-column>
    <p-column field="skill_name" [filter]="true" filterPlaceholder="Name" header="Name"></p-column>
    <p-column field="skill_alias" [filter]="true" filterPlaceholder="Alias Name" header="Alias Name"></p-column>
</p-dataTable>