<p-growl [value]="msgs"></p-growl>
<h1>States</h1><br/>
<form [formGroup]="userform">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;width:80%;">
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><input pInputText type='text' [(ngModel)]='state.state_name' formControlName='state_name' /> <label>State name</label></span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['state_name'].valid&&userform.controls['state_name'].touched">State Required</div>
            </div>
        </div>
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><input pInputText type='text' [(ngModel)]='state.state_aliasname' formControlName='state_aliasname' /> <label>State Alias name</label></span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['state_aliasname'].valid&&userform.controls['state_aliasname'].touched">State Alias Required</div>
            </div>
        </div>
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><p-dropdown [options]="drpCountryId" [(ngModel)]="state.country_id" formControlName="country_id"></p-dropdown> </span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['country_id'].valid&&userform.controls['country_id'].touched">Country Required</div>
            </div>
        </div>
        <div class="ui-grid-row" style="width:100%;">
            <div class="ui-g form-group" style="width:80%;">
                <div class="ui-g-12 ui-md-4" style="width:100%;float:left;">
                    <div style="width:50%"><button pButton (click)="onSubmit()" label="Submit" [disabled]="!userform.valid"></button><br/></div>
                    <div style="width:50%;float:right;"><button pButton (click)="clear()" label="Clear"></button></div>
                </div>
            </div>
        </div>
    </div>
</form>

<p-dataTable [value]="states" selectionMode="single" [rows]="10" [paginator]="true" (onRowSelect)="onRowSelect($event)"
        [(selection)]="selectedstatesRow">
        <p-column field="country_name" [filter]="true" filterPlaceholder="Country Name" header="Country Name"></p-column>
        <p-column field="state_name" [filter]="true" filterPlaceholder="State Name" header="State Name"></p-column>
        <p-column field="state_aliasname" [filter]="true" filterPlaceholder="State Alias Name" header="State Alias Name"></p-column>
    </p-dataTable>